@using Sandbox;
@using Sandbox.UI;

@namespace GameJam
@inherits Panel

<style>
	VillageHUD {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		color: white;
		font-family: PatrickHand;

		.structures {
			position: absolute;
			width: 100%;
			flex-direction: row;
			height: 80px;
			background-color: white;
			bottom: 0px;
			transform: translateY(0%);
			justify-content: center;
			transition: transform 0.5s ease-in-out;

			.slot {
				width: 100px;
				aspect-ratio: 1;
				background-color: rgba(black, 0.8);
				margin-right: 20px;
				margin-left: 20px;
				bottom: 50%;
				border: 2px white;
				transition: width 0.25s ease-in, bottom 0.25s ease-in;
				//white-space: nowrap;
				text-align: center;
				backdrop-filter: blur(5px);

				&:hover {
					width: 140;
					bottom: 80px;
				}

				.title {
					position: absolute;
					left: 50%;
					top: -50px;
					min-height: 40px;
					font-size: 18px;
					text-stroke: 4px black;
					text-shadow: 4px 4px 4px black;
					transform: translateX( -50% );
					padding: 5px; 
					padding-right: 8px;
					background-color: rgba(black, 0.8);
					border-radius: 10px;
					flex-shrink: 1;
				}
				
				.icon {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: center;
				}
			}

			&.hidden {
				transform: translateY(250%);
			}
		}
	}
</style>

<root>
    <Resources></Resources>

	<panel class="structures" @ref=structureContainer >
		@{
			var structures = ResourceLibrary.GetAll<Prefab>()
				.Where( p => p?.Root?.Class == "BaseStructure" );

			foreach ( var structure in structures )
			{
				var root = structure.Root;
				var name = root.GetValue<string>( "Title" );

				<panel class="slot">
					<label class="title">@name</label>
					<PrefabIcon class="icon" Prefab="@structure" />
				</panel>
			}
		}
	</panel>
</root>

@code {
	Panel structureContainer;

	public override void Tick()
	{
		if ( Game.LocalPawn is not Lord pawn )
			return;

		structureContainer?.SetClass( "hidden", !pawn.Overview );
	}
}
