@using Sandbox;
@using Sandbox.UI;

@namespace GameJam
@inherits Panel

<style>
	LoadingScreen {
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url(ui/blackboard.png);
        background-repeat: repeat;
        background-size: 100%;
        
        image-rendering: pixelated;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: opacity 1s ease-in; 
        color: white;
            
        &.hidden {
			opacity: 0;
		}

        .loadingText{
            font-family: 'Patrick Hand';
            font-size: 70px;
        }
	}
</style>

<root>
    <div class="loadingText">@Town.GenerationText</div>
</root>

@code {
	protected override int BuildHash()
	{
		return Town.GenerationText.GetHashCode();
	}

	private float _position;

	private TimeUntil _next;
	
	public override void Tick()
	{
		base.Tick();

		if ( _next )
		{
			var x = 0;
			x += Random.Shared.Int( 0, 3 );
			
			var y = 0;
			y += Random.Shared.Int( 0, 3 );
			
			Style.BackgroundPositionX = Length.Percent( x );
			Style.BackgroundPositionY = Length.Percent( y );

			_next = 0.4f;
		}
	}

}
