SkillTree {
	position: absolute;

	width: 100%;
	height: 100%;

	pointer-events: all;

	/* Parts */
	.side-outer {
		/* Side panel outer part */
		position: absolute;
		z-index: 1;

		width: 500px;
		height: 100%;

		transition: all 0.3s ease-in-out;

		background-color: black;

		justify-content: flex-end;

		&:intro {
			left: -50%;
		}

		.side-inner {
			/* Inner part of the side panel - so the content and not the waves */
			position: absolute;
			z-index: 2;

			width: 100%;
			height: 100%;
			
			left: 2%;

			PlayerView {
				position: absolute;
				z-index: 2;
				
				width: 100%;
				height: 100%;

				filter: invert(100);
			}
			
			.center {
				width: 100%;
				height: 100%;
				
				justify-content: center;
				align-items: center;

				AnimatedImage {
					width: 130px;
					height: 130px;
					
					bottom: 230px;

					position: relative;
					z-index: 3;
					
					image-rendering: pixelated;
				}
			}
		}

		.waves {
			position: absolute;
			z-index: 3;

			left: 100%;
			
			width: 50%;
			height: 100%;

			AnimatedImage {
				width: 30%;
				height: 100%;
				
				position: relative;
				z-index: 3;
				
				background-size: 100% 100%;
				
				image-rendering: pixelated;
			}
		}
	}

	.background {
		/* Background - slides up and contains main */
		position: absolute;

		width: 100%;
		height: 100%;

		background-color: #ffffff;

		transition: all 0.3s ease-in-out;
		
		&:intro {
			opacity: 0;
		}

		.main {
			position: absolute;

			width: 100%;
			height: 100%;
			
			left: 40%;
			top: 40%;
		}
	}

	/* Transitions */
	transition: all 0.2s ease-out;

	&:intro {
		opacity: 0;
	}

	&:outro {
		opacity: 0;
	}
}
