@using Sandbox.UI;

@namespace GameJam.UI
@inherits SmartPanel<SkillTree>
@attribute [StyleSheet( "/UI/SkillTree/SkillTree.scss" )]

<root>
	<div class="side-outer">
		<div class="side-inner">
			<PlayerView></PlayerView>
			<div class="center">
				<AnimatedImage
					delay="0.5"
					src="textures/tests/crown">
				</AnimatedImage>
			</div>
		</div>
		<div class="waves">
			<AnimatedImage
				delay="0.7"
				src="textures/tests/waves">
			</AnimatedImage>
		</div>
	</div>
	<div class="background" allow-translate>
		<div class="main" @ref=MainPanel allow-translate></div>
	</div>
</root>

@code {

	private UpgradeActor SelectedActor { get; set; }
	private UpgradeInfoActor UpgradeInfo { get; set; }

	public void Select( UpgradeActor actor )
	{
		SelectedActor?.SetClass( "selected", false );

		SelectedActor = actor;

		SelectedActor.SetClass( "selected", true );

		if ( SelectedActor.ReadyToPosition )
		{
			UpgradeInfo ??= MainPanel.AddChild<UpgradeInfoActor>();

			UpgradeInfo.PanelCamera = Camera;

			UpgradeInfo.QueuePosition( () =>
			{
				var position = SelectedActor.Position;
				position.x -= UpgradeInfo.Size.x / 2;
				position.x += SelectedActor.Size.x / 2;

				position.y -= UpgradeInfo.Size.y;

				UpgradeInfo.Position = position;
				UpgradeInfo.Upgrade = SelectedActor.Upgrade;
			} );
		}
	}

	public void ClearSelection()
	{
		SelectedActor?.SetClass( "selected", false );
		UpgradeInfo?.Delete();
		UpgradeInfo = null;
		SelectedActor = null;
	}

	private Panel _mainPanel;

	private Panel MainPanel
	{
		get => _mainPanel;
		set
		{
			_mainPanel = value;
			GenerateUpgrades( MainPanel );
		}
	}

	public SkillTree() => WorldMap.Delete();
}
