SkillTree {
	position: absolute;

	width: 100%;
	height: 100%;

	pointer-events: all;

	background-color: transparent;
	
	transition: all 0.3s ease-out;
	
	&:outro {
		opacity: 0;
	}
	
	.backdrop {
		width: 100%;
		height: 100%;
		
		z-index: 0;

		position: absolute;
		
		transition: bottom 0.7s ease-in-out;
		
		background-color: white;
		
		overflow: hidden;

		PlayerView {
			width: 100%;
			height: 100%;
			
			position: static;

			top: 0;
			
			transition: top 0.7s ease-in-out;

			&:intro {
				top: 100%;
			}
		}
		
		&:intro {
			bottom: 100%;
		}
	}
	
	.container {
		width: 100%;
		height: 100%;

		z-index: 1;
		
		background-color: yellow;

		align-items: center;
		justify-content: center;

		overflow: hidden;

		transition: all 1.6s ease-in-out;

		transform: rotateY(0deg) rotate(0deg);

		&:intro {
			top: 100%;
			opacity: 0;

			transform: rotateY(60deg) rotate(30deg);
		}
	}
}
