@using GameJam.UpgradeSystem
@using Sandbox.UI;

@namespace GameJam.UI
@inherits SmartPanel<SkillTree>
@attribute [StyleSheet( "/UI/SkillTree/SkillTree.scss" )]

<root>
	<div class="side-outer">
		<div class="side-inner">
			<PlayerView></PlayerView>
			<div class="center">
				<AnimatedImage
					delay="0.5"
					src="textures/tests/crown">
				</AnimatedImage>
			</div>
		</div>
		<div class="waves">
			<AnimatedImage
            	delay="0.9"
            	src="textures/tests/waves">
            </AnimatedImage>
		</div>
	</div>
	<div class="background">
		<div class="main" @ref=MainPanel></div>
	</div>
</root>

@code {

	private UpgradeActor SelectedActor { get; set; }

	private void Select( UpgradeActor actor )
	{
		SelectedActor?.SetClass( "selected", false );

		SelectedActor = actor;

		SelectedActor.SetClass( "selected", true );
	}

	private Panel MainPanel
	{
		get => null;
		set { GenerateUpgrades( value ); }
	}

	public SkillTree() => WorldMap.Delete();
}
