@using GameJam.UI.Core
@using Sandbox.UI;

@namespace GameJam.UI
@inherits SmartPanel<SkillTree>
@attribute [StyleSheet( "/UI/SkillTree/SkillTree.scss" )]

<root>
	<div class="side-outer">
		<div class="side-inner">
			<PlayerView></PlayerView>
			<div class="center">
				<AnimatedImage
					delay="0.5"
					path="textures/tests/crown">
				</AnimatedImage>
			</div>
		</div>
		<div class="waves" allow-translate>
			<AnimatedImage
				delay="0.7"
				path="textures/tests/waves"
				allow-translate>
			</AnimatedImage>
		</div>
		<div class="flag">
			<AnimatedImage
				class="flag-image"
				delay="0.7"
				path="textures/tests/flag"
				allow-translate>
			</AnimatedImage>
			<div class="inner">
				<WiggleText Value=@( $"{GameMgr.TotalIQ}" ) Scale=@( 0.6f )></WiggleText>
			</div>
		</div>
	</div>
	<div class="background" allow-translate>
		<div class="main" @ref=MainPanel allow-translate>

		</div>
	</div>
</root>

@code {

	private UpgradeActor SelectedActor { get; set; }
	private UpgradeInfoActor UpgradeInfo { get; set; }

	public void Select( UpgradeActor actor )
	{
		ClearSelection();

		// SelectedActor?.SetClass( "selected", false );

		SelectedActor = actor;

		SelectedActor.SetClass( "selected", true );

		if ( SelectedActor.ReadyToPosition )
		{
			UpgradeInfo ??= MainPanel.AddChild<UpgradeInfoActor>();

			UpgradeInfo.PanelCamera = Camera;

			UpgradeInfo.QueuePosition( () =>
			{
				var position = SelectedActor.Position;
				position.x -= UpgradeInfo.Size.x / 2;
				position.x += SelectedActor.Size.x / 2;

				position.y -= UpgradeInfo.Size.y;

				UpgradeInfo.Position = position;
				UpgradeInfo.Upgrade = SelectedActor.Upgrade;
			} );
		}

		UpgradeInfo?.StateHasChanged();
	}

	public void ClearSelection()
	{
		SelectedActor?.SetClass( "selected", false );
		UpgradeInfo?.Delete();
		UpgradeInfo = null;
		SelectedActor = null;
	}

	private Panel _mainPanel;

	private Panel MainPanel
	{
		get => _mainPanel;
		set
		{
			_mainPanel = value;
			GenerateUpgrades( MainPanel );
		}
	}

	public SkillTree()
	{
		WorldMap.Delete();

		Camera.Bounds = new Rect( -50, -50, 100, 100 )
			.Grow( 300, 1400, 300, 200 )
			.Grow( 200 )
			.Shrink( 0, 0, 700, 0 );
		Camera.Position -= Vector2.Up * 400;
	}

}
