@using GameJam.UpgradeSystem
@using Sandbox.UI;

@namespace GameJam.UI
@inherits SmartPanel<SkillTree>
@attribute [StyleSheet( "/UI/SkillTree/SkillTree.scss" )]

<root>
	<div class="side">
		
	</div>
	<div class="background">
		<div class="main" @ref=MainPanel></div>
	</div>
</root>

@code {

	public UpgradeActor SelectedActor { get; set; }

	private void Select( UpgradeActor actor )
	{
		SelectedActor?.SetClass( "selected", false );

		SelectedActor = actor;

		SelectedActor.SetClass( "selected", true );
	}

	public Panel MainPanel
	{
		get => null;
		set { GenerateUpgrades( value ); }
	}

	public SkillTree() => WorldMap.Delete();
}
