UpgradeInfoActor {
	width: 331px;
	height: 287px;

	.background-image {
		z-index: 1;

		position: absolute;

		width: 100%;
		height: 100%;

		background-position: 0 0;
		background-size: cover;
		background-repeat: no-repeat;

		image-rendering: pixelated;
	}

	.content {
		z-index: 2;

		position: relative;

		width: 100%;
		height: 70%;

		color: white;

		font-family: PatrickHand;

		justify-content: space-between;
		flex-direction: column;

		margin: 25px;

		.title {
			width: 100%;

			font-size: 35px;
		}

		.description {
			width: 100%;
			height: 60%;
			font-size: 20px;
		}

		.context {
			width: 100%;
			height: 40%;
			
			.number {
				justify-content: flex-start;
				flex-direction: row;

				font-size: 40px;
			}

			.add-btn {
				width: 100px;
				height: 70px;

				right: 0;

				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;

				image-rendering: pixelated;
			}
		}

		transition: all 0.4s ease-in-out;

		&:intro {
			opacity: 0;
		}
	}
}
