@using GameJam.UpgradeSystem
@using Sandbox.UI;
@using GameJam.UI.Core;

@namespace GameJam.UI
@inherits Actor
@attribute [StyleSheet( "/UI/SkillTree/UpgradeInfoActor.scss" )]

<root>
	@if ( Upgrade == null )
	{
		return;
	}

	<AnimatedImage
		class="background-image"
		delay="0.5"
		path="textures/tests/msgbox"
		transition-path="textures/tests/msgbox-transition/005.png"
		transition-path="textures/tests/msgbox-transition/004.png"
		transition-path="textures/tests/msgbox-transition/003.png"
		transition-path="textures/tests/msgbox-transition/002.png"
		transition-path="textures/tests/msgbox-transition/001.png"
		transition-delay="0.03">
	</AnimatedImage>
	<div class="content">
		<div class="title">
			@Upgrade.Title
		</div>
		<div class="description">
			Description of what this upgrade does
		</div>
		<div class="context">
			<WiggleNumber class="number" Value=@Upgrade.Cost>
			</WiggleNumber>
			<AnimatedImage class="add-btn" path="textures/tests/msgbox-bits/add-btn"></AnimatedImage>
		</div>
	</div>
</root>

@code {

	public Upgrade Upgrade { get; set; }

	protected override float WobbleAmount => 0;

}
