@using GameJam.UpgradeSystem
@using Sandbox.UI;
@using GameJam.UI.Core;

@namespace GameJam.UI
@inherits Actor
@attribute [StyleSheet( "/UI/SkillTree/UpgradeInfoActor.scss" )]

<root>
	@if ( Upgrade == null )
	{
		return;
	}

	<AnimatedImage
		class="background-image"
		delay="0.5"
		path="textures/tests/msgbox"
		transition-path="textures/tests/msgbox-transition/005.png"
		transition-path="textures/tests/msgbox-transition/004.png"
		transition-path="textures/tests/msgbox-transition/003.png"
		transition-path="textures/tests/msgbox-transition/002.png"
		transition-path="textures/tests/msgbox-transition/001.png"
		transition-delay="0.015">
	</AnimatedImage>
	<div class="content">
		<div class="title">
			<WiggleText Value=@Upgrade.Title></WiggleText>
        </div>

        <div class="description">
            @Upgrade.Description
		</div>
		
		<div class="context">
			@if ( UpgradeActor?.Available == true )
			{
				<AnimatedImage class="add-btn" path="textures/tests/msgbox-bits/add-btn" onclick=@( () => SkillTree.BuyUpgrade( Upgrade ) )></AnimatedImage>
			}
		</div>
	</div>
</root>

@code {

	public Upgrade Upgrade { get; set; }
	
	public UpgradeActor UpgradeActor { get; set; }

	protected override float WobbleAmount => 0;

}
