UpgradeActor {
	position: absolute;
	
	width: 120px;
	height: 120px;

	font-size: 30px;

	justify-content: center;
	align-items: center;

	&.selected {
		background-color: red;
	}

	.outer {
		z-index: 1;
		
		position: absolute;

		width: 80px;
		height: 80px;

		/*transform: rotate(45deg);
		border: rgb(180, 180, 180) 2px solid;

		&.available {
			border: white 3px solid;
		}
		*/
		&.expensive {
			/* border: rgb(220, 80, 80) 2px solid; */
		}
	}

	.inner {
		z-index: 3;
		
		position: absolute;
		width: 100%;
		height: 100%;

		align-items: center;
		justify-content: center;
		
		img {
			width: 100%;
			height: 100%;

			image-rendering: nearest-neighbor;
		}
	}
}
