GeneratorActor {
	width: 100px;
	height: 100px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	justify-content: center;
	align-items: center;

	font-size: 30px;
	font-weight: bold;
}
