@using Sandbox.UI;

@namespace GameJam.UI
@inherits Actor
@attribute [StyleSheet( "/UI/WorldMap/Actors/GeneratorActor.scss" )]

<root>
    <label class="textContainer">
       @((int)Entry.Size)
    </label>
</root>

@code {

	private WorldMapHost.Generator Entry { get; set; }

	public GeneratorActor( WorldMapHost.Generator entry )
	{
		Entry = entry;

		Position = entry.MapPosition;
	}

	protected override void OnClick( MousePanelEvent e )
	{
		base.OnClick( e );

		WorldMapHost.RequestServerGenerate( Entry );
	}

}
