GeneratorActor {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;
	font-family: 'Patrick Hand';
	font-size: 30px;
	font-weight: bold;
	text-stroke: 7px black;

	&:hover {
		width: 70px;
		height: 70px;
	}

	.textContainer {
		justify-content: center;
		align-items: center;
		top: 20px;
		height: 20%;
		width: 100%;
	}
}
