@using Sandbox.UI

@namespace GameJam
@inherits Panel

<root class="pbp">
    @if (IconPath != default) {
        <img src=@IconPath />
    }
    <div class="progress-bar">
        <div @ref=ProgressBarMeter class="progress-bar-meter">
        </div>
    </div>
</root>

<style>
    .pbp {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        img {
            transform: translateX(50%);
            z-index: 500;
        }

        .progress-bar {
            width: 200px;
            height: 75%;

            border-radius: 8px;
        }
    }
</style>

@code {
    public string IconPath { get; set; }
    public float Max { get; set; }
    public float Current { get; set; }
    public ColorHsv ColorMin { get; set; } = new ColorHsv(0, 1, 1);
    public ColorHsv ColorMax { get; set; } = new ColorHsv();

    Panel ProgressBarMeter;

    protected override int BuildHash()
    {
        return HashCode.Combine(Max, Current);
    }
}
