@using GoblinGame.UI.Core
@using Sandbox.UI;

@namespace GoblinGame.UI
@inherits Actor
@attribute [StyleSheet( "/UI/WorldMap/PlaceActor.scss" )]

<root>
	<AnimatedImage
		class="item @GetItemType()"
		delay="1"
		path="textures/tests/@GetItemType()">
	</AnimatedImage>
	<div class="inner">
		<WiggleText Scale=@( 0.18f ) Value=@( $"{GetItemType()}," )></WiggleText>
		<WiggleText Scale=@( 0.28f ) Value=@( $"{Node.Size:0}" )></WiggleText>
	</div>
</root>

@code {

	private WorldMapHost.Node Node { get; }

	public PlaceActor( WorldMapHost.Node node )
	{
		Node = node;
	}

	public string GetItemType()
	{
        var radius = 300f * (float)Math.Sqrt( Node.Size / 5 );
		return radius switch
		{
			> 2500 => "castle",
			> 1200 => "town",
			_ => "camp"
			};
	}

	protected override Vector2 ModifyInitialPosition( Vector2 position ) => position + Node.MapPosition;

	protected override void OnClick( MousePanelEvent e )
	{
		base.OnClick( e );

		WorldMapHost.RequestServerGenerate( Node );
	}

}
