@using Sandbox.UI;

@namespace GameJam.UI
@inherits SmartPanel<WorldMap>
@attribute [StyleSheet( "/UI/WorldMap/WorldMap.scss" )]

<root>
	<div class="container" @ref=Container allow-translate>
	</div>
</root>

@code {

	public WorldMap()
	{
		SkillTree.Delete();
	}

}
