@using Sandbox.UI;

@namespace GameJam.UI
@inherits Panel
@attribute [StyleSheet( "/UI/WorldMap/WorldMap.scss" )]

<root>
	<div class="container" @ref=@Container allow-translate>
		<Level class="item"></Level>
	</div>
</root>
