WorldMap {
	position: absolute;

	width: 100%;
	height: 100%;

	align-items: center;
	justify-content: center;

	pointer-events: all;

	.container {
		width: 90%;
		height: 90%;

		background-color: yellow;

		align-items: center;
		justify-content: center;

		overflow: hidden;
	}
	
	transition: all 1s ease-in-out;
	
	&:outro {
		transform: translateZ(300px);
		opacity: 0;
	}

	&:intro {
		transform: translateZ(300px);
		opacity: 0;
	}
}
