@using Sandbox.UI;

@namespace GameJam
@inherits Panel
@attribute [StyleSheet( "/UI/WorldMap/WorldMap.scss" )]

<root>
	<div class="container" @ref=Container allow-translate>
		@for ( var i = 0; i < 25; i++ )
		{
			<MapActor class="item level">hi</MapActor>
		}
	</div>
</root>
